/* .container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.4fr;
  height: 100vh;

  grid-template-areas:
    "header header  "
    "sidebar  main"
    "footer footer  ";
}
.header{
    grid-area: header;
    background-color: aqua;
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(65, 138, 101);

}
.main{
    grid-area: main;
     background-color: rgb(194, 160, 66);
}
.footer{
    grid-area: footer;
     background-color: rgb(138, 65, 108);
} */

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.appDayColor {
  background-image: linear-gradient(rgb(114, 163, 236), white);
}
.appNightColor {
  background-image: linear-gradient(rgb(153, 107, 73), rgb(44, 61, 87));
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  min-width: 500px;
  width: 20%;
}
#searchWrap {
  width: 100%;
  height: 100px;
  min-width: 350px;
  display: flex;
  align-items: center;
  position: relative;
}
#searchResult {
  width: 100%;
  height: 10px;
  position: absolute;
  display: none;
  top: 75%;
  left: 0;
  z-index: 10;
}
.resultHint {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid rgb(151, 151, 151);
}
.resultHint:hover {
  background-color: rgb(151, 151, 151);
}

/* #searchWrap::after{
    position: absolute;
    content: url("./pics/searchIcon.svg");
    top: -383%;
    left: 17%;
    transform: scale(2.5%);
} */
.searchIcon {
  font-size: 20px;
  background-color: white;
  padding: 12px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
#searchBar {
  width: 100%;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: none;
}

#board {
  margin-top: 30px;
  height: 600px;
  width: 100%;
  min-width: 350px;
  border-radius: 20px;
  overflow-x: auto;
  position: relative;
}
.boardItem {
  margin-top: 15px;
  padding: 5px 10px;
  height: 20%;
  width: 100%;
  background-color: rgb(46, 128, 77);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.deleteIcon {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(206, 91, 91);
  font-size: 16px;
  top: -15px;
  left: 92%;
  padding: 3px 10px;
  border-radius: 50%;
  text-align: center;
  display: none;
}
.deleteIconShow {
  display: block;
}
.deleteIcon:hover {
  background-color: rgb(160, 70, 70);
}
.countryName {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.cityName {
  color: white;
  font-weight: 500;
  font-size: 32px;
}
.boardItemFirst {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tempC,
.tempF {
  color: white;
  font-weight: 500;
  font-size: 40px;
}
.tempFDis,
.itemTempFDis,.highFDis,.lowFDis {
  display: none;
}
.tempCDis,
.itemTempCDis {
  display: none;
}
.tempC::after,
.itemTempC::after {
  content: "°C";
}
.tempF::after,
.itemTempF::after {
  content: "°F";
}
.boardItemSecond {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.condition {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.sunny {
  background-image: linear-gradient(rgb(65, 183, 238), rgb(224, 224, 93));
}
.cloud {
  background-image: linear-gradient(rgb(89, 89, 95), rgb(170, 170, 164));
}
.clear {
  background-image: linear-gradient(rgb(55, 55, 56), rgb(128, 107, 141));
}
.snow {
  background-image: linear-gradient(rgb(237, 237, 238), rgb(177, 231, 233));
}
.rain {
  background-image: linear-gradient(rgb(100, 154, 214), rgb(61, 147, 150));
}
#board::-webkit-scrollbar {
  width: 4px;
}

#board::-webkit-scrollbar-track {
  background: transparent;
}

#board::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#board::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
#funcRow {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  padding: 5px 10px;
  width: 90px;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(1);
}

.popup {
  position: absolute;
  z-index: 2;
  transform-origin: bottom;
  animation: show 0.4s linear forwards;
}
.noShow {
  animation: goUp 0.3s linear forwards;
}
.lat,
.lon {
  display: none;
}
.goBack {
  font-size: 28px;
  padding: 5px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0;
  cursor: pointer;
}
.detailData {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 0;
}
.itemTempC,
.itemTempF {
  color: white;
  font-weight: 500;
  font-size: 64px;
}
.detailCity{
  color: white;
  font-weight: 300;
  font-size: 24px;
}
.detailCond{
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.highInitial,.lowInitial,.highC,.highF,.lowC,.lowF{
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.highLowTempRow{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.highTemp,.lowTemp{
  height: 100%;
  width: 20%;
  text-align: center;
}
.moveUp{
  animation: moveUp 1s ease forwards;
}
/* Keyframes */
@keyframes show {
  to {
    transform: translateY(calc(-1 * var(--startY)));
    height: 100%;
  }
}

@keyframes back {
  to {
    transform: translateY(calc(var(--startY)));
    height: 20%;
  }
}

@keyframes goUp {
  to {
    opacity: 0;
    transform: translateY(calc(-1 * 120px));
  }
}
@keyframes moveUp {
  
  to {
    opacity: 10;
    transform: translateY(calc(-1 * 70px));
  }
}
